volumes:
  traefik_data:
  postgres_data:
  redis_data:
  minio_data:

services:
  traefik:
    image: traefik:latest
    container_name: pvz-traefik
    restart: always
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--api.dashboard=true"
      - "--api.insecure=true"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_data:/data

  db:
    container_name: pvz-db
    image: postgres:16.2
    restart: always
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${SQL_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    container_name: pvz-redis
    image: redis:7-alpine
    restart: always
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      retries: 5

  web:
    # УБРАНО container_name для возможности масштабирования
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    command: sh /backend/entrypoint.dev.sh
    volumes:
      - ./backend:/backend
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/schema/"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 20s
    labels:
        - "traefik.enable=true"
        - "traefik.http.routers.pvz-api.rule=Host(`localhost`) && PathPrefix(`/api`, `/admin`)"
        - "traefik.http.routers.pvz-api.entrypoints=web"
        - "traefik.http.services.pvz-web-svc.loadbalancer.server.port=8000"

  bot:
    container_name: pvz-bot
    build: ./bot
    restart: always
    env_file: .env
    command: python runbot.py
    depends_on:
      web:
        condition: service_healthy # Ждет, пока Django реально ответит по сети
      redis:
        condition: service_healthy

  celery-worker:
    build: ./backend
    command: celery -A core worker -l info --concurrency=1
    env_file: .env
    depends_on:
      redis:
        condition: service_healthy

  minio:
    image: minio/minio:latest
    container_name: pvz-minio
    restart: always
    env_file: .env
    environment:
      MINIO_DOMAIN: "s3.localhost"
      MINIO_BROWSER_REDIRECT_URL: "http://console.s3.localhost"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
      interval: 5s
    labels:
      - "traefik.enable=true"
      # Исправлено: разделяем хосты через ||
      - "traefik.http.routers.minio-api.rule=Host(`s3.localhost`) || Host(`static.s3.localhost`) || Host(`media.s3.localhost`)"
      - "traefik.http.routers.minio-api.entrypoints=web"
      - "traefik.http.routers.minio-api.service=minio-api-svc"
      
      - "traefik.http.routers.minio-console.rule=Host(`console.s3.localhost`)"
      - "traefik.http.routers.minio-console.entrypoints=web"
      - "traefik.http.routers.minio-console.service=minio-console-svc"

      - "traefik.http.services.minio-api-svc.loadbalancer.server.port=9000"
      - "traefik.http.services.minio-console-svc.loadbalancer.server.port=9001"

  pvz-frontend:
    container_name: pvz-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    command: npm run dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pvz-spa.rule=Host(`localhost`)"
      - "traefik.http.services.pvz-spa-svc.loadbalancer.server.port=9000"
