version: "3.9"

volumes:
  traefik_data:
  postgres_data:
  redis_data:
  minio_data:

services:
  # ---------------- Traefik ----------------
  traefik:
    image: traefik:latest
    container_name: pvz-traefik
    restart: always
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      # - "--log.level=DEBUG"
      - "--accesslog=true"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_data:/data

  # ---------------- PostgreSQL ----------------
  db:
    container_name: pvz-db
    image: postgres:16.2
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${SQL_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ---------------- Redis ----------------
  redis:
    container_name: pvz-redis
    image: redis:7-alpine
    restart: always
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ---------------- Django Web ----------------
  web:
    container_name: pvz-django
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    command: >
      sh -c "
        python manage.py makemigrations &&
        python manage.py migrate --noinput &&
        python manage.py migrate django_celery_beat &&
        python manage.py migrate django_celery_results &&
        python manage.py collectstatic --noinput &&
        gunicorn core.wsgi:application --bind 0.0.0.0:8000 --workers 2 --threads 2 --timeout 300
      "
    volumes:
      - ./backend:/backend
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pvz.rule=Host(`pvz.localhost`)"
      - "traefik.http.routers.pvz.entrypoints=web"
      - "traefik.http.services.pvz.loadbalancer.server.port=8000"

  # ---------------- Bot ----------------
  bot:
    container_name: pvz-bot
    build:
      context: ./bot
    restart: always
    env_file:
      - .env
    command: python runbot.py
    depends_on:
      web:
        condition: service_started
      redis:
        condition: service_healthy
      db:
        condition: service_healthy

  # ---------------- Celery Worker ----------------
  celery-worker:
    container_name: pvz-celery-worker
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    command: celery -A core worker -l info --concurrency=1
    volumes:
      - ./backend:/backend
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy

  # ---------------- Celery Beat ----------------
  celery-beat:
    container_name: pvz-celery-beat
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    command: celery -A core beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler --max-interval=30
    volumes:
      - ./backend:/backend
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy

  # ---------------- MinIO ----------------
  minio:
    image: minio/minio:latest
    container_name: pvz-minio
    restart: always
    env_file: .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-admin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-password}
      MINIO_DOMAIN: "s3.localhost"
      MINIO_BROWSER_REDIRECT_URL: "http://console.s3.localhost"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/ready"]
      interval: 5s
      timeout: 2s
      retries: 12
    labels:
          - "traefik.enable=true"
          
          # Основной API S3
          - "traefik.http.routers.minio-api.rule=Host(`s3.localhost`)"
          - "traefik.http.routers.minio-api.entrypoints=web"
          - "traefik.http.routers.minio-api.service=minio-api-svc"

          # ПОДДОМЕНЫ ДЛЯ СТАТИКИ И МЕДИА
          # Мы объединяем их в один роутер, который смотрит на порт 9000
          - "traefik.http.routers.minio-static.rule=Host(`static.s3.localhost`) || Host(`media.s3.localhost`)"
          - "traefik.http.routers.minio-static.entrypoints=web"
          - "traefik.http.routers.minio-static.service=minio-api-svc"

          # Консоль управления
          - "traefik.http.routers.minio-console.rule=Host(`console.s3.localhost`)"
          - "traefik.http.routers.minio-console.entrypoints=web"
          - "traefik.http.routers.minio-console.service=minio-console-svc"

          # СЕРВИСЫ (Порты)
          - "traefik.http.services.minio-api-svc.loadbalancer.server.port=9000"
          - "traefik.http.services.minio-console-svc.loadbalancer.server.port=9001"
  # ---------------- MinIO Init ----------------
  minio-init:
    image: minio/mc:latest
    container_name: pvz-minio-init
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MC_ALIAS_NAME: myminio
      MC_URL: ${MINIO_INTERNAL_ENDPOINT}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_BUCKET_STATIC: ${MINIO_BUCKET_STATIC}
      MINIO_BUCKET_MEDIA: ${MINIO_BUCKET_MEDIA}
      MINIO_BUCKET_DBBACKUP: ${MINIO_BUCKET_DBBACKUP}
    volumes:
      - ./minio_init.sh:/minio_init.sh
    entrypoint: ["/bin/sh", "/minio_init.sh"]